body{
  background-color: rgb(213, 213, 239);
}

.div{
  text-align: center;

}

.div2{
  border: 2px solid black;
  width: 800px;
  text-align: center;
  padding-bottom: 20px;
  margin-left: 23%;
}

button{
  width: 200px;
  height: 60px;
}

.div3{
  margin-left: 180px;
  margin-top: 10px;
  border: 2px solid black;
  width: 400px;
  text-align: center;
}
